<!DOCTYPE html>
<html>
<head>
       <title>Product List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="icon" href="/favicon.ico">
    <script src="../assets/js/index.js" defer></script>
</head>
<body>

<div class="form-container">
    <form class="form" style="display: flex; flex-direction: column; justify-content: space-around; height: 200px">
        <input type="text" class="form-input" placeholder="title" id="title">
        <input type="number" class="form-input" placeholder="price" id="price">
        <button class="btn btn btn-primary btn-lg form-component" style="width: 100%; margin: 0" id="submitAddProductBtn">Add
            Product
        </button>
    </form>
</div>


</body>
</html>