<!DOCTYPE html>
<html>
<head>
       <title>Product List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="icon" href="/favicon.ico">
<!--    <style>-->
<!--        .btn {-->
<!--            width: auto;-->
<!--            margin-left: 10px;-->
<!--        }-->

<!--        .form-input {-->
<!--            border-radius: 5px;-->
<!--            border: 1px solid gray;-->
<!--        }-->

<!--        .form-container {-->
<!--            width: 50%;-->
<!--            border: 2px solid gray;-->
<!--            padding: 10px;-->
<!--            position: absolute;-->
<!--            left: 20%;-->
<!--            top: 20%;-->
<!--            border-radius: 10px;-->
<!--            background-color: lightgray;-->
<!--        }-->

<!--    </style>-->
</head>
<body>

<div class="form-container">
    <form style="display: flex; flex-direction: column; justify-content: space-around; height: 200px">
        <input type="text" class="form-input" placeholder="title" id="title">
        <input type="number" class="form-input" placeholder="price" id="price">
        <button class="btn btn btn-primary btn-lg form-component" style="width: 100%; margin: 0" id="submitBtn">Add
            Product
        </button>
    </form>
</div>


<!--<script>-->
<!--    const name = document.getElementById("title");-->
<!--    const price = document.getElementById("price");-->
<!--    const button = document.getElementById("submitBtn");-->

<!--    button.addEventListener('click', async (e) => {-->
<!--        e.preventDefault();-->
<!--        const body = JSON.stringify({name: name.value, price: price.value})-->
<!--        const url = "/products/add"-->

<!--        try {-->
<!--            const response = await fetch(url, {-->
<!--                method: 'POST', // или 'PUT'-->
<!--                body,-->
<!--                headers: {'Content-Type': 'application/json'}-->
<!--            });-->
<!--            document.location.href = response.url;-->
<!--        } catch (error) {-->
<!--            console.error('Ошибка:', error);-->
<!--        }-->
<!--    })-->

<!--</script>-->

<script src="../assets/js/index.js"></script>
</body>
</html>