<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">

</head>
<body>
<div class="container">
<div class="form-container loginForm">
    <h1 style="text-align: center"> Client Login Form </h1> </center>
<form class="form">

        <label>Username : </label>
        <input class="form-input" type="text" placeholder="Enter Username" name="username" required>
        <label>Password : </label>
        <input class="form-input" type="password" placeholder="Enter Password" name="password" required>
        <button class="btn btn-primary  " type="submit">Login</button>
<!--        <input type="checkbox" checked="checked"> Remember me-->
<!--        <button type="button" class="cancelbtn"> Cancel</button>-->
<!--        Forgot <a href="#"> password? </a>-->

</form>
</div>
</div>
</body>
</html>